<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <mediaLibrary>
      <mediaProvider type="Sitecore.Resources.Media.MediaProvider, Sitecore.Kernel">
        <patch:attribute name="type">Fishtank.MediaResolverPatch.FishtankMediaProvider, Fishtank.MediaResolverPatch</patch:attribute>
      </mediaProvider>
      <requestParser type="Sitecore.Resources.Media.MediaRequest, Sitecore.Kernel">
        <patch:attribute name="type">Fishtank.MediaResolverPatch.FishtankMediaRequest, Fishtank.MediaResolverPatch</patch:attribute>
      </requestParser>
    </sitecore>
</configuration>